# Ignore frontend specific files/folders
/frontend/node_modules/
/frontend/.env
/frontend/build/

# Ignore backend specific files/folders
/backend/node_modules/
/backend/.env
/backend/build/
/backend/chatbot/finance-chat.Q8_0.gguf

# Ignore system or IDE files
.DS_Store
*.log
*.env

# Ignore other general files/folders
*.tmp
/home/verz/Big-Brown-Coder/backend/block/node_modules

finance-chat.Q8_0.gguf